# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*

# Logs
*.log

# Node (if you use it later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
